<!Doctype html>

@using System.Data;
@using BasicWebProject.App_Code;

@{
    songMethodes mySongMethodes = new songMethodes();
    string file = @"~\App_Data\Playlist.xml";
    DataSet ds = mySongMethodes.GetAllSongs(file);
    Session["playlistClass"] = mySongMethodes;
    Session["file"] = file;
}


<html>
<head>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/jquery-3.0.0.js"></script>
    <script src="https://kit.fontawesome.com/f19f1abdd8.js" crossorigin="anonymous"></script>
</head>
<body>
   

    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">C# Muziek Project</h1>
            <p class="lead">Dit is ons C# project om nummers te kunnen toevoegen, verwijderen en afspelen</p>
        </div>
    </div>

    <table class="table table-bordered"  >
        <tr>
            <th>Id</th>
            <th>Artist</th>
            <th>Title</th>
            <th>Year</th>
            <th>Genre</th>
            <th>Time</th>
            <th>File</th>
        </tr>
        
        @foreach (DataRow dr in ds.Tables["songs"].Rows)
        {
    <tr>
        <td>@dr["id"]</td>
        <td>@dr["artist"]</td>
        <td>@dr["title"]</td>
        <td>@dr["year"]</td>
        <td>@dr["genre"]</td>
        <td>@dr["time"]</td>
        <td>@dr["file"]</td>
        <td><a href="~/pages/Deletesong.cshtml?id=@dr["id"]" class="fa fa-trash"></a></td>
        
      
    </tr>
        }
    </table>
    <br /><br />
    <a href="pages/Createsong.cshtml">Een nieuwe song toevoegen</a>
</body>

</html>

